.vs

Logs
Library
Temp
obj
Assembly-CSharp*
UserSettings
ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
UserSettings/Layouts/default-2022.dwlt
Assembly-CSharp.csproj
*.csproj
test*
